@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*====================== VARIABLES CSS ======================*/
:root {
  --cinzaClaro: hsl(0, 0%, 61%);
  --cinzaMedio: hsl(0, 0%, 35%);
  --cinzaEscuro: hsl(0, 0%, 24%);
  --cinza-very-dark: hsl(0, 0%, 15%);
  --navColor: hsl(0, 0%, 20%);
  --green: hsl(164, 100%, 50%);
  --green-dark: hsl(164, 100%, 36%);
  --green-very-dark: hsl(164, 88%, 16%);
  --branco: hsl(0, 0%, 100%);

  font-size: 62.5%; /* 1 rem = 10 px*/

  --navHeight: 7rem;
}

/*====================== BASE CSS ======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cinzaEscuro);
  color: var(--branco);

  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
}

/*====================== GERAL ======================*/
.wrapper {
  padding-inline: 3rem;
}

section {
  padding-block: 7.5rem;
}

.button {
  padding: 1rem 3rem;
  color: var(--branco);

  border: 1px solid var(--green);
  border-radius: 20px;

  font-weight: 500;
  box-shadow: 0px 1px 7px 8px hsla(164, 100%, 36%, 0.294);
}

.button:hover {
  color: var(--cinzaEscuro);
  background-color: var(--green);
}

section h2 {
  font-weight: 600;
  color: var(--green);
  text-align: left;
}

/*====================== NAV ======================*/
nav {
  width: 100%;
  height: var(--navHeight);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
}

nav.scroll {
  background-color: var(--cinza-very-dark);
}

nav #logo a svg {
  padding-top: 0.5rem;
  width: 7.5rem;
}

nav #logo a svg:hover path {
  fill: var(--green-dark);
}

nav .links a {
  color: #ffffff;
  text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.79);

  transition: 250ms;
}

nav .links a:hover {
  color: var(--green-dark);
}

nav .links a:nth-child(1) {
  margin-right: 2rem;
}

/*====================== HOME ======================*/
#home {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 100vh;
  background-color: var(--cinzaMedio);
}

#home p {
  font-size: 1.7rem;
}

#home h1 {
  font-size: 5rem;
  font-weight: 600;
  line-height: 39px;
}

#home h1 span {
  color: var(--green);
}

#home .tech-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

#home .tech-icons .icons svg {
  width: 3rem;
  height: 3rem;
}

#home .tech-icons .icons {
  display: flex;
  gap: 2rem;
}

/*====================== ABOUT ======================*/
#about h2 {
  padding-bottom: 3rem;
}

#about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

#about img {
  width: 20rem;

  border-radius: 20px;
  border: 1px solid var(--green-dark);
}

#about p span {
  color: var(--green);
}

/*====================== PROJECTS ======================*/
#projects h2 {
  padding-bottom: 4rem;
}

#projects img {
  width: 100%;
  opacity: 0.6;
  transition: opacity 250ms;
}

#projects img:hover {
  opacity: 1;
}

#projects .dados-project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1.7rem;
}

#projects .dados-project h3 {
  font-weight: 300;
}

#projects .dados-project .info {
  display: flex;
  flex-direction: column;
}

#projects .dados-project .info svg {
  width: 2rem;
  height: 2rem;
}

#projects .dados-project .info svg:not(:nth-child(1)) {
  margin-left: 1.2rem;
}

#projects .dados-project a {
  color: var(--green);
}

/*====================== CONTACT ======================*/
#contact {
  padding-top: 2.7rem;
  padding-bottom: 0rem;
}

#contact .social-links {
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.7rem;
}

#contact .social-links a path {
  fill: var(--green-dark);
}

#contact .social-links a:hover path {
  fill: var(--green);
}

/*====================== FOOTER ======================*/
footer {
  width: 100%;
  padding: 1rem;
  text-align: center;

  background-color: var(--cinzaEscuro);
  border-top: 1px solid #0000003e;
}

#backToTopButton svg {
  stroke: var(--cinzaEscuro);
}

#backToTopButton {
  width: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  transform: translateY(200%);
  transition: 300ms;

  background-color: hsla(164, 100%, 50%, 0.342);
  border-radius: 50%;
}

#backToTopButton:hover {
  background-color: hsla(164, 100%, 50%, 0.829);
}

#backToTopButton.showButton {
  transform: translateY(0%);
}
